@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");

:root {
  --main-grey: #d7dbdd;
  --main-orange: #f5b041;
  --main-green: #58d68d;
}

body {
  font-family: "Kiwi Maru", serif;
  background-color: var(--main-grey);
}

#veg-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#veg-header img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
